mixin link(href, name)
  a(class!=attributes.class, href=href)= name

doctype html
html(lang="en")
  head
    title Boulevard
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    - // verbose for the purpose of this example
    - var blvd   = locals.boulevard || {};
    - var config = blvd.config || {};
    - var css  = config.assets && config.assets.css;
    - var js   = config.assets && config.assets.js;

    if css

        each item in css
          - var url = item.href || item;
          link(href='#{url}', rel='stylesheet')

    if js

        each item in js
          - var url = item.src || item;
          script(src='#{url}')

  body

    .container

      .page-header
        h1 Boulevard
        h2 #{locals.path}

      .row

        p Boulevard will discover the correct CSS & JavaScript based on a given path. This is determined based upon the CSS & JavaScript defined within a manifest.( json | yaml ) file.

        ul
            li: +link('/', '/')
            li: +link('/green', '/green')
            li: +link('/green/background', '/green/background')
            li: +link('/some/path/that/does/not/exist', '/some/path/that/does/not/exist')


      .row

        .panel.panel-default
          .panel-heading Asset Summary
          .panel-body

           - var assets = Object.keys(config.assets);

            each asset in assets
              if config.assets[asset]
                .list-group
                    +link('#', asset).list-group-item.disabled
                    each resource in config.assets[asset]
                        +link(resource, resource)(target="_blank").list-group-item.glyphicon.glyphicon-file
